<section class="flex flex-wrap gap-5 place-content-center place-items-center mt-10">
  <a href="/whoami"
    class="h-56 w-[40%] text-5xl sm:text-7xl flex place-content-center place-items-center m-5 hover:text-lime-200 border-cyan-400 hover:border-cyan-700 border-2 rounded-xl bg-black">{{whoami()}}</a>
  <a href="/skills"
    class="h-56 w-[40%] text-5xl sm:text-7xl flex place-content-center place-items-center m-5 hover:text-lime-200 border-cyan-400 hover:border-cyan-700 border-2 rounded-xl">{{skills()}}</a>
  <a href="/example"
    class="h-56 w-[40%] text-5xl sm:text-7xl flex place-content-center place-items-center m-5 hover:text-lime-200 border-cyan-400 hover:border-cyan-700 border-2 rounded-xl">{{examples()}}</a>
  <a href="/cv"
    class="h-56 w-[40%] text-5xl sm:text-7xl flex place-content-center place-items-center m-5 hover:text-lime-200 border-cyan-400 hover:border-cyan-700 border-2 rounded-xl">{{cv()}}</a>
</section>

<router-outlet />